* {
    /*outline:solid 1px red;*/
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
    font-weight: 100;
    padding-top: 50px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    margin-left: 30px;
    font-size: 18px;
    font-weight: 100;
    margin-top: 10px;
}

.header {
    height: 50px;
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
    color:white;
    display: flex;
}

.menu-option{
    display: flex;
    margin-right: 20px;
}


.menu-option p{
    padding: 10px;
    padding-top: 13px;
    font-size: 15px;
    font-weight: 100;
}

.active {
    border-bottom:solid 2px white;
}

.menu-option:hover {
    border-bottom:solid 2px white;
    cursor: pointer;
}

.menu-option img {
    width: 25px;
    height: 25px;
    margin-top: 13px;
}

.left-pane {
    height: auto;
    background-color: #F2F2F2;

}

#pic {
    border: solid 2px #3a7bd5;
    padding: 5px;
    width:135px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#pic img {
    width: 120px;
    height: 120px;
}

.thumbs {
    height:20px;
    width:20px;
}

.thumb-holder {
    height:30px;
    width: 30px;
    text-align: center;
    padding: 3px;
    border-radius: 50%;
    border: solid 1px #4A4A4A;
}

.contact {
    margin-left: 50px;
    font-size: 12px;
    margin-bottom: 10px;
}


.contact img{
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 15px;

}

.thumbs-1 {
    height:40px;
    width:40px;
}

.thumb-holder-1 {
    height:60px;
    width: 60px;
    text-align: center;
    padding: 3px;
    border-radius: 50%;
    border: solid 1px #4A4A4A;
}

.experience {
    width: 86%;
    display: flex;
    margin-left: 70px;
}

.skills-img {
    width: 40px;
    height: 40px;
    float: left;
}

.stars {
    width: 20px;
    height: 20px;
}

.card {
    background-color: white;
    width: 20%;
    height: auto;
    font-size: 1.5em;
    border: 1px solid lightgray;
    padding-left: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.fa {
    padding-top: -10px;
}



